/* global */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* to clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: sans-serif;
}

body {
    max-width: 960px;
    margin: auto;
    line-height: 1.2;
    color: #3D4852;
    margin-bottom: 40px;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    color: #17191a;
    margin: 10px;
}

p {
    font-weight: 100;
    font-size: 16px;
    margin: 10px;
}

p>strong {
    margin-top: 20px;
    display: inline-block;
}

ul {
    margin: 10px;
}