/* global */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* to clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: sans-serif;
}

body {
    max-width: 960px;
    margin: auto;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    color: #17191a;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    color: #3D4852;
    font-weight: 100;
    font-size: 20px;
    margin-top: 10px;
}